/* #region Basical */

ul, ol {
    list-style-type: none;
}

h1,
h4,
h5,
h6 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}

a {
    text-decoration: none;
}
/* #endregion */

/* #region Common */

.accent-background {
    background-color: #2E2F42;
    color: #F4F4FD;
}

.accent-text {
    color: #4D5AE5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
}
/* #endregion */

/* #region Navigation */
.navigation {}

.navigation-list {}

.nav-logo {
    color: #2E2F42;
}

.navigation-list-item {
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.contacts {}

.contacts-list {}

.contacts-list-item {
    text-decoration: none;
    font-style: normal;
    color: #434455;
}

.navigation-list-item:hover,
.navigation-list-item:focus,
.contacts-list-item:hover,
.contacts-list-item:focus {
    color: #404BBF;
}

.navigation-studio:active {
    text-decoration: underline;
}
/* #endregion */

/* #region Hero */
.hero {}

.hero-headline {
    font-size: 56px;
    line-height: 1.07143;
    text-align: center;
    color: #ffffff;
}

.btn {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: left;
    cursor: pointer;
    color: #ffffff;
}

.btn:hover,
.btn:focus {
    background-color: #404BBF;
}
/* #endregion */

/* #region Features */
.features {}

.features-list {}

.features-list-item {}

.features-headline {}

.features-desc {}
/* #endregion */

/* #region Team */
.team {
    background-color: #F4F4FD;
}

.team-headline {}

.team-list {}

.team-list-item {
    background-color: #ffffff;
}

.team-icon {}

.team-list-item-member {
        text-align: center;
}

.team-list-item-desc {
        text-align: center;
}
/* #endregion */

/* #region Portfolio */
.portfolio {}

.portfolio-headline {}

.portfolio-list {}

.portfolio-list-item {}

.portfolio-link {}

.portfolio-icon {}

.portfolio-desc {}
/* #endregion */

/* #region Footer */
.underground {}

.accent-background {}

.foot-link {}

.accent-text {}

.foot-logo {
    color: #F4F4FD
}

.foot-desc {}
/* #endregion */