/* #region Basical */

ul, ol {
    list-style-type: none;
    margin: 0;
}

h1,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin: 0;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin: 0;
}

p {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}

a {
    text-decoration: none;
}

/* #endregion */

/* #region Common */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.accent-background {
    background-color: #2E2F42;
    color: #F4F4FD;
}

.accent-text {
    color: #4D5AE5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 156px;
    margin-right: 156px;
}

/* #endregion */

/* #region Navigation */
.header {
    display: flex;
}

.nav-con {
    display: flex;
}

.navigation {
    display: flex;
}

.navigation-list{
    display: flex;
    gap: 40px;
    margin-left: 76px;
    padding-left: 0;
}

.nav-logo {
    margin-top: 24px;
    margin-bottom: 24px;
}

.nav-studio {
    color: #2E2F42;
}

.navigation-list-item {
    font-weight: 500;
    color: #2E2F42;
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
}

.contacts {
    display: flex;
}

.contacts-list {
    display: flex;
    gap: 40px;
    margin-left: 332px;
    padding-left: 0;
}

.contacts-list-item {
    text-decoration: none;
    font-style: normal;
    color: #434455;
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
}

.navigation-list-item:hover,
.navigation-list-item:focus,
.contacts-list-item:hover,
.contacts-list-item:focus {
    color: #404BBF;
}

.navigation-studio:active {
    text-decoration: underline;
}
/* #endregion */

/* #region Hero */
.hero {}

.hero-con {
    text-align: center;
    padding-top: 188px;
    padding-right: 316px;
    padding-bottom: 188px;
    padding-left: 316px;
}

.hero-headline {
    font-size: 56px;
    line-height: 1.07143;
    color: #ffffff;
    max-width: 496px;
    margin-bottom: 48px;
}

.btn {
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: left;
    cursor: pointer;
    color: #ffffff;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.btn:hover,
.btn:focus {
    background-color: #404BBF;
}
/* #endregion */

/* #region Features */
.features {}

.features-list {
    width: calc((1128px - 72px) / 4);
    display: flex;
}

.features-list-item {
    width: 264px;
    height: 104px;
}

.features-headline {}

.features-desc {}
/* #endregion */

/* #region Team */
.team {
    background-color: #F4F4FD;
}

.team-headline {}

.team-list {
}

.team-list-item {
    background-color: #ffffff;
}

.team-icon {}

.team-list-item-member {
        text-align: center;
}

.team-list-item-desc {
        text-align: center;
}
/* #endregion */

/* #region Portfolio */
.portfolio {}

.portfolio-headline {}

.portfolio-list {}

.portfolio-list-item {}

.portfolio-link {}

.portfolio-icon {}

.portfolio-desc {}
/* #endregion */

/* #region Footer */
.underground {}

.accent-background {}

.foot-link {}

.accent-text {}

.foot-logo {
    color: #F4F4FD
}

.foot-desc {}
/* #endregion */